<ion-view id="viewPoiDetail" hide-nav-bar="false" ion-img-cache-bg ng-style="{'background-color' : '#ffffff'}">

  <ion-nav-buttons class="viewPoiDetailHeader" side="left">
    <a ng-click="goBackToProgetto()"  class="generic-back-button button button-icon icon ion-android-arrow-dropleft generic-button-bar"></a>
    <h1 class="title"><img id="menu-logo" ng-src="img/menu_icon.png"></img></h1>
  </ion-nav-buttons>

  <ion-nav-buttons class="viewPoiDetailHeader" side="right">
    <div  class="progetto_users generic-back-button button button-icon icon generic-button-bar" style="margin-top: 5px;font-size:22px;"><i class="fa fa-location-arrow {{data.cssBlink}}" style="font-size: 0.93em;float:left;margin-top: 4px;"></i></div>

    <a ng-click="showMainMenu()" class="generic-back-button button button-icon icon ion-navicon-round generic-button-bar"></a>
  </ion-nav-buttons>

  <div class="bar bar-subheader">
    <h4 class="title" style="color:#000000;">{{data.labels.title}}</h4>
  </div>


  <ion-content scroll="true" padding="false" class="has-header has-subheader">

    <ion-list>

        <ion-item ng-repeat="Percorso in data.listaPercorsi" class="percorso" style="overflow: visible;" ng-click="clickOnPercorso(Percorso.idPercorso)">


            <div id="div_percorso_{{Percorso.idPercorso}}" class="percorso_dtl" ion-img-cache-bg style="background-image:url({{Percorso.logoPercorso | getUrl}});">
                <div class="percorso_descr">{{Percorso.nome}}</div>
            </div>

        </ion-item>

    </ion-list>

  </ion-content>


</ion-view>
